<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <!--配置过滤只打印你想打印的-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>warn</level>
            <!--允许打印匹配的-->
            <onMatch>ACCEPT</onMatch>
            <!--拒绝打印不匹配的【deny:[dI'nai]】拒绝的意思-->
            <onMismatch>DENY</onMismatch>
        </filter>

        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator name="Eval404">
                <expression>event.getStatusCode() == 404</expression>
            </evaluator>
            <OnMismatch>NEUTRAL</OnMismatch>
            <OnMatch>ACCEPT</OnMatch>
        </filter>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator name="EvalCSS">
                <expression>event.getRequestURI().contains("css")</expression>
            </evaluator>
            <OnMismatch>NEUTRAL</OnMismatch>
            <OnMatch>DENY</OnMatch>
        </filter>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator name="myEval">
                <expression>event.getStatusCode() == 404</expression>
            </evaluator>
            <OnMismatch>NEUTRAL</OnMismatch>
            <OnMatch>ACCEPT</OnMatch>
        </filter>

    </appender>
        <!--消息级别
        用来设置打印级别，大小写无关：
        TRACE, DEBUG, INFO, WARN, ERROR, ALL 和 OFF，
        不能设置为INHERITED或者同义词NULL。
        -->


    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>